.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--dark-gray);
    z-index: 1;
}
.header_container {
    max-width: var(--default-width); 
    height: 7vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    position: relative; /*для бургера, у род. должен быть relative чтобы absolute был относительно его*/
}
.header_logo {
    font-family: "El Messiri", sans-serif;
    font-size: 1.5rem;
    color: white;
}
.header_logo span.upper {
    color: #74C0FC;
}
.header_menu_link:not(:last-child){
    margin: 0 20px 0 0;
}

.header_menu_link {
    color: white;
    position: relative;
}
.messengers {
    /* display: none; */
    display: inline-block;
}
.telegram {
    /* transform: scale(1.5); */
    color: #74C0FC;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}
.whatsapp {
    /* transform: scale(1.6); */
    font-size: 1.6rem;
    color: #1fa82f;
    margin-right: 0;
}
.header_menu_link::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: white;
    left: 0;
    bottom: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.header_menu_link:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}
/*BURGER*/
.header_burger{
    display: none;
}
.header_burger-line{
    display: block;
    width: 25px;
    height: 2px;
    margin: 4px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
/*END BURGER*/
