/*MEDIA QUERY*/
@media screen and (max-width:900px)
{
    :root{
        --base-fs: 14px;
    }
    /*MENU*/
    .header_menu{
        position: absolute;
        left: -100%;
        top: 5.9vh;
        background-color: var(--dark-gray);
        display: block;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        padding: 2rem 0;
        font-size: 1.2rem;
    }
    .header_menu_link {
        display: block;
        margin: 0;
        padding: 1rem 0;
    }
    .header_menu_link:not(:last-child){
        margin: 0;
    }
    .header_menu_link:last-child{
        margin: 0 0 1rem 0;
    }
    .header_menu.active{
        left: 0;
    }
    .header_menu_link::before {
        display: none;
    }
    .messengers {
        margin: 0;
        padding: 1rem 0;
    }
    .telegram {
        font-size: 1.9rem
    }
    .whatsapp {
        font-size: 2.1rem;
    }
    /*END MENU*/

    /*BURGER*/
    .header_burger{
        display: block;
    }
    .header_burger.active .header_burger-line:nth-child(2){
        opacity: 0;
    }
    .header_burger.active .header_burger-line:nth-child(1){
        transform: translateY(6px) rotate(45deg);
    }
    .header_burger.active .header_burger-line:nth-child(3){
        transform: translateY(-6px) rotate(-45deg);
    }

    /*END BURGER*/

    /*WELCOM*/
    .welcom{
        padding: 0;
        margin: 0;
        background: url('../imgs/freepik-export-20240930064210SiNN1.jpeg') 50% 0/cover no-repeat;
    }
    .welcom_container{
        height: 80vh;
        /* margin: 0 auto; */
    }
    /*END WELCOM*/

   /*DIRECTIONS*/
   .direction {
        width: 48%;
   }
   /*END DIRECTIONS*/

    /*FOOTER*/
    .footer_container {
        flex-direction: column;
    }
    .footer_contacts {flex-direction: column;}
    .footer_contacts, .footer_nav {
        font-size: 1.1rem;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 1rem;
    }
    .footer_contacts h2, .footer_nav h2 {width: 100%;}
    .footer_contacts a, .footer_contacts p
    {
        padding: 1rem 1rem 0 0;
    }
    .footer_nav {
        text-align: left;
        width: 100%;
    }
    .footer_nav a {
        padding: 1rem 1rem 0 0;
    }
    .footer_links {
        order: 3;
        margin-top: 3rem;
    }
    /*END FOOTER*/
}
@media screen and (max-width:740px)
{
    :root{
        --base-fs: 12px;
    }
    /*HEADER*/
    .telegram {
        font-size: 2rem
    }
    .whatsapp {
        font-size: 2.2rem;
    }
    /*END HEADER*/
    .teacher_photo {
        min-height: 300px;
    }
    /*WELCOM*/
    
    /*END WELCOM*/
    /*DIRECTIONS*/
     .directions_container {
        justify-content: center;
    }
    .direction {
        width: 80%;
        height: auto;
    }
    /*END DIRECTIONS*/

    /*FOOTER*/
    /*END FOOTER*/

    
}
@media screen and (max-width:640px)
{

    .welcom_content{
        width: 100%;
    }
    .welcom_title {
        text-align: center;
    }
     /*DIRECTIONS*/
     .direction {
        width: 90%;
    }
    /*END DIRECTIONS*/

    /*TEACHERS*/

    .teacher_main {
        flex-wrap: wrap;
    }
    .teacher_photo {
        width: 100%;
        height: 280px;
        margin-bottom: 2rem;
        order: 1;
        min-height: 0;
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
    }
    .about_teacher {
        padding: 0;
    }
    .teacher_courses_header {
        margin-top: 2rem;
        border-left: 0;
        padding-left: 0;
    }
    .teacher_courses {
        margin-top: 0;
        padding: 0;
    }
    .teacher_name {
        text-align: center;
    }
    /*END TEACHERS*/
    /*TOURS*/
    .tour {
        flex-wrap: wrap;
    }
    .tour_photo {
        width: 100%;
        height: 280px;
        margin-bottom: 2rem;
    }
    .about_tour {
        padding: 0;
        text-align: center;
    }
    /*END TOURS*/
    /*FOOTER*/
    /*END FOOTER*/
}
@media screen and (max-width:540px)
{
    /*WELCOM*/
    .welcom_description {
        width: 100%;
    }
    .welcom_button {
        width: 80%;
        align-self: center;
    }
    /*END WELCOM*/
    /*DIRECTIONS*/
    .direction {
        width: 100%;
    }
    .direction_sign-up{
        margin: auto;
    }
    /*END DIRECTIONS*/
    /*FOOTER*/
    .footer_container {
        padding: 6rem 2rem 3rem 2rem;  
    }
    #map {
        height: 300px;
    }
    /*END FOOTER*/

}
@media screen and (max-width:440px)
{
    /*WELCOM*/
    .welcom_button {
        width: 100%;
    }
    /*END WELCOM*/
     /*DIRECTIONS*/
    .directions_content-width {
        padding: 3rem 2rem;
    }
    /*END DIRECTIONS*/
    /*TEACHERS*/
    .teachers_container {
        padding: 3rem 2rem 4rem 2rem;
    }
    /*END TEACHERS*/
    /*TOURS*/
    .tours_container {
        padding: 2rem;
    }
    /*END TOURS*/
    /*FOOTER*/
    .footer_container {
        padding: 6rem 2rem 2rem 2rem;  
    }   
    /*END FOOTER*/
}
@media screen and (max-width:350px) {
    /*DIRECTIONS*/
    .directions_content-width {
        padding: 3rem 1rem;
    }
    /*END DIRECTIONS*/
    /*TEACHERS*/
    .teachers_container {
        padding: 3rem 1rem 4rem 1rem;
    }
    /*END TEACHERS*/
    /*TOURS*/
    .tours_container {
        padding: 2rem;
    }
    /*END TOURS*/
    /*FOOTER*/
    .footer_container {
        padding: 6rem 1rem 2rem 1rem;  
    } 
}